//Default Font
$base-font-family:          Open Sans;



$font-size-base:          	14px;
$base-color: 				#868C8D;

$base-line-height: 			35px;
$base-font-weight: 			300;

$base-heading-color: 		#000000;


$letter-specing-heading: 0.67px;
$letter-specing-subheading: 0.4px;


$bg_gray: 			#e7e8e9;
$font-red:			#ef4135;
$color-cyme: 		#2d97d4;
$color-gray: 		#6d6e71;
$white: 			#FFFFFF;
$yellow: 			#fff200;


$color-light-blue: 		#2EBAEF;
$dark-blue: 		#45519E;

//Width Variation
$full-width: 		100%;
$half-width: 		$full-width / 2;
$auto-width: 		auto;