//Default Font

$base-font-family:          Open Sans;



$font-size-base:          	18px;
$base-color: 				#868C8D;

$base-line-height: 			35px;
$base-font-weight: 			normal;

$base-heading-color: 		#000000;


$letter-specing-heading: 0.67px;
$letter-specing-subheading: 0.4px;


$bg_gray: 			#e7e8e9;
$font-red:			#ef4135;
$color-cyme: 		#2d97d4;
$color-gray: 		#6d6e71;
$white: 			#FFFFFF;
$yellow: 			#fff200;


$color-light-blue: 		#2EBAEF;
$dark-blue: 		#45519E;


//Theme Color Variation

//blue Combination
$theme-blue: #6daaf1;
$theme-dark-blue: #4b83c3;
$theme-light-blue: #5a9dea;

//Green Combination
$theme-green: #84a956;
$theme-light-green: #5d7b37;
$theme-dark-green: #425a23;

//Maroon Combination
$theme-maroon: #a25353;
$theme-light-maroon: #753535;
$theme-dark-maroon: #421d1d;

//Grey Combination
$theme-grey: #a7a4a4;
$theme-dark-grey: #444444;
$theme-light-grey: #737272;

//blackishblue Combination
$theme-blackishblue: #48698c;
$theme-dark-blackishblue: #233548;
$theme-light-blackishblue: #31465d;



$opacity-one: 		0.1;
$opacity-two: 		0.2;
$opacity-three: 	0.3;
$opacity-four: 		0.4;
$opacity-five: 		0.5;
$opacity-six: 		0.6;
$opacity-seven: 	0.7;
$opacity-eight: 	0.8;
$opacity-nine: 		0.9;
$opacity-none: 		1;


//Width Variation
$full-width: 		100%;
$half-width: 		$full-width / 2;
$auto-width: 		auto;