// ----------------------------------------------------------------------

  // Media Query Breakpoints

// ----------------------------------------------------------------------

// example @include breakpoint(940) { width:80%; }



@mixin respond-to($breakpoint) {
	@if $breakpoint == "mobile-small" {
	    @media (min-width: 320px) {
	      @content;
	    }
	}

	@else if $breakpoint == "mobile-big" {
	    @media (min-width: 640px) {
	      @content;
	    }
	}

	@else if $breakpoint == "small" {
	    @media (min-width: 768px) {
	      @content;
	    }
	}

	@else if $breakpoint == "tab-mini" {
		@media (min-width: 991px) {
			@content;
		}
	}

	@else if $breakpoint == "medium" {
	    @media (min-width: 1025px) {
	      @content;
	    }
	}


	@else if $breakpoint == "large" {
	    @media (min-width: 1300px) {
	      @content;
	    }
	}

	@else if $breakpoint == "ex-large" {
	    @media (min-width: 1920px) {
	      @content;
	    }
	}
}