//Global Button Style

//Full Button

.btn{
    border: none;
}

.u-rounded{
    background: #DDC726;
    color: #ffffff;
    span{
        display: inline-block;
        vertical-align: top;
    }
    img{
        display: inline-block;
    }
}