$footer-outer-bg: #3E3C3C;
$footer-inner-bg: #373535;

$color-white: #ffffff;
$color-black: #000000;
$color-red: #FA1100;
$color-yellow: #FFFF01;
$color-green: #00D2BF;


$color-blue: #5A9DEA;
$color-dark-blue: #2b82e6;


$button-color-blue: #5a9dea;
$button-color-green: #7a9a52;
$button-color-maroon: #421d1d;
$button-color-grey: #333;
$button-color-seagreen: #31465d;

$bg-color-blue: #5a9dea;
$bg-color-green: #aec790;
$bg-color-maroon: #6d3131;
$bg-color-grey: #88A6C6;
$bg-color-seagreen: #107DAC;
//Theme Color
