@font-face {
    font-family: "Arial Rounded MT Std";
    src: url("arialroundedmtstd-webfont.eot"); /* IE9 */
    src: url("arialroundedmtstd-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("arialroundedmtstd-webfont.woff") format("woff"), /* chrome, firefox */
    url("arialroundedmtstd-webfont.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("arialroundedmtstd-webfont.svg#Arial Rounded MT Std") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


