@font-face {
    font-family: "Avenir Black";
    src: url("Avenir Black.eot"); /* IE9 */
    src: url("Avenir Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Avenir Black.woff") format("woff"), /* chrome, firefox */
    url("Avenir Black.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Avenir Black.svg#Avenir Black") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


