//Sidebar

article{
    padding: 20px;
    h3{
        font-size: 18px;
        text-transform: uppercase;
        color: #716f6f;
        font-weight: 600;
        margin-bottom: 20px;
    }
}



.c-recent__single{
    margin-bottom: 20px;
}
.c-recent__image{
    width: 45px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    figure{
        height: 45px;
        width: 45px;
        overflow: hidden;
        border-radius: 50%;
        img{
            max-width: 100%;
        }
    }
}
.c-recent__desc{
    width: 69%;
    display: inline-block;
    vertical-align: middle;
    p{
        font-size: 12px;
        line-height: 18px;
    }
    @include respond-to(small){
        width: 100%;
    }
    @include respond-to(tab-mini){
        width: 69%;
    }
}
    

   